<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="logInService" name="logInService" class="com.ip.mvc.entities.services.LogInService">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="profileService" name="profileService" class="com.ip.mvc.entities.services.ProfileService">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="myActivityService" name="myActivityService" class="com.ip.mvc.entities.services.MyActivityService">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="scientificActivityService" name="scientificActivityService" class="com.ip.mvc.entities.services.ScientificActivityService">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="searchService" name="searchService" class="com.ip.mvc.entities.services.SearchService">
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>